# Proyecto Marketing Bancario
---
Intergantes:

| Nombre | apellido |
| ---- | ---- |
| Melany | Odet Castañeda Bazaldúa |
| Genesis | Guadalupe Ibarra Iturbe
| silvestre | Hernandez Hernandez
| Alan Aarón | Martinez Celedonio

## Datos de la actividad

### Descripción de Variables del Dataset de Marketing Bancario

Este dataset contiene datos de una campaña de marketing bancario, donde se recopiló información sobre interacciones con clientes con el objetivo de predecir la efectividad de las campañas y mejorar las estrategias futuras. Los datos ofrecen una visión comprensiva sobre las características de los clientes y su respuesta a las campañas de telemarketing, permitiendo a los analistas explorar y descubrir patrones que pueden mejorar la efectividad de las futuras acciones de marketing. El análisis de este dataset ayudará a responder preguntas clave como la influencia del perfil demográfico y financiero del cliente en su disposición a suscribir nuevos servicios bancarios.

- **Edad**: Edad del cliente.
- **Trabajo**: Tipo de trabajo del cliente (ej. 'admin.', 'technician', 'services', etc.).
- **Estado_Civil**: Estado civil del cliente (ej. 'married', 'single', 'divorced').
- **Educacion**: Nivel educativo del cliente (ej. 'primary', 'secondary', 'tertiary').
- **Default**: Indica si el cliente tiene crédito en mora ('yes', 'no').
- **Balance**: Saldo anual promedio, en euros.
- **Vivienda**: Indica si el cliente tiene un préstamo de vivienda ('yes', 'no').
- **Prestamo**: Indica si el cliente tiene un préstamo personal ('yes', 'no').
- **Contacto**: Tipo de comunicación de contacto utilizada (ej. 'telephone', 'cellular', 'unknown').
- **Dia**: Día del mes en que se realizó el último contacto.
- **Mes**: Mes del año en que se realizó el último contacto (ej. 'jan', 'feb', 'mar', etc.).
- **Duracion**: Duración del último contacto, en segundos.
- **Campania**: Número de contactos realizados durante esta campaña y para este cliente.
- **Pdias**: Número de días que pasaron después de que el cliente fue contactado por última vez desde una campaña anterior.
- **Anterior**: Número de contactos realizados antes de esta campaña y para este cliente.
- **Resultado_Anterior**: Resultado de la campaña de marketing anterior (ej. 'failure', 'nonexistent', 'success').
- **Deposito**: Indica si el cliente ha suscrito un depósito a plazo ('yes', 'no').

In [2]:
import pandas as pd
# Cargar el archivo CSV en un DataFrame
df = pd.read_csv('Marketing.csv')

# Mostrar las primeras filas del DataFrame
df.head()

,Edad,Trabajo,Estado_Civil,Educacion,Default,Balance,Vivienda,Prestamo,Contacto,Dia,Mes,Duracion,Campania,Pdias,Anterior,Resultado_Anterior,Deposito
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes

## Criterios a cumplir

### Datos cargados y Visualizados Correctamente

In [ ]:
# Código

### Exploración de Inicial de Datos

In [ ]:
# Código

### Limpieza de datos

In [ ]:
# Código

### Transformación de Variables

In [ ]:
# Código

Visualizaciones

In [ ]:
# Código

### Correlaciones y Analisis Estadístico Básico

In [ ]:
# Código

Selección y Creación de Nuevas Caracteristicas

In [ ]:
# Código

### Preparación de Datasets para Modelado

In [ ]:
# Código

### Selección de Algoritmos Adecuados

In [ ]:
# Código

Implementación Correcta de Modelos

In [ ]:
# Código

### Evaluación del Modelo

In [ ]:
# Código

### Interpretación de Resultados

In [ ]:
# Código

### Conclusiones y recomendaciones

In [ ]:
# Código